body{
    background-color: rgb(241, 12, 96);
}

.add_product{
    display: flex;
    flex-direction: column;
    width: 40vh;
    justify-content: space-around;
}

.input_fields{
    margin: 5px;
}

.submit_btn{
    width: 10vh;
    align-items: center;
    justify-content: center;
}

.table{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    width: 100vh;
}

img{
    width: 30vh;
    height: 40vh;
    background-size: cover;
}

td{
    width: 100vh;
    padding: 20px;
}

table, th, td {
    border: 1px solid;
   ;
    
   
  }
