body {
    background-color: rgb(254, 36, 36);
    background-image: url(../img/logo.png);
    background-repeat:repeat;
    background-position: center;
}

.container {
    display: flex;
    justify-content: center;
    margin-top: 20vh;  

}

.formLogin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    border-radius: 10px;
    padding: 10vh;
    width: 30vh;
    height: 50vh;
    background-color:rgba(0, 0, 0, 0.407);
    box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.24),0 5px 5px 0 rgba(0, 0, 0, 0.19);
}

.formLogin.hide-login{
    display: none;
}

.formLogin.open-login{
    display: flex;

}

.form-control{
    display: flex;
    flex-direction: column;
    margin-left: 0vh;
    padding: 2vh;

    
}

.login_form{

}

.button-1 {
    display: flex;
    justify-content: space-around;
    width: 45vh;
}

.button {
    background-color: rgb(180, 0, 0);
    color: white;
    font-weight:500;
    border: 0px;
    border-radius: 7px;
    padding: 10px;
    
}

.button:hover {
    background-color: rgb(255, 0, 0);
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.24),0 5px 5px 0 rgba(0, 0, 0, 0.19);
    transition: 0.2s;
}

.input.email{
    color: black;
}

.input {
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: 30vh;
    border: none;
    max-width: 100vh;
    
    
}

.error {
    color: white;
}

p{
    color: white;
}

a{
    text-decoration: none;
    color: rgb(128, 255, 0);
}

a:hover{
    color: rgb(132, 220, 0);
    
}

.register_form{
    display: flex;
}

.formRegister  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    border-radius: 10px;
    padding: 10vh;
    width: 30vh;
    height: 50vh;
    background-color:rgba(0, 0, 0, 0.407);
    box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.24),0 5px 5px 0 rgba(0, 0, 0, 0.19); 
}

.register{
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: 30vh;
    border: none;
    max-width: 100vh;
    min-width: 0vh;

}


/* .formRegister.hide-form{
    display: none;
}

.register_form.open-form{
    display: flex;
}

    
}

.register_form.open-register{
    display: flex;
}


.register-btn{
    background-color: rgb(110, 0, 0);
    color: white;
    font-weight:500;
    font-size: 12px;
    border: 0px;
    border-radius: 7px;
    padding: 10px;
    width: 10vh;
}

.cancel-reg{
    background-color: rgb(110, 0, 0);
    color: white;
    font-weight:500;
    font-size: 12px;
    border: 0px;
    border-radius: 7px;
    padding: 10px;
    width: 10vh;
}


.register-btn.open-btn:hover{
    background-color: rgb(246, 25, 25);
}

.cancel-reg.open-btn:hover{
    background-color: rgb(246, 25, 25);
}

.text-2{
    font-size: 15px;
    
} */

.emailError{
    
    color: rgba(255, 255, 255, 0.937);
    position: fixed;
    margin: 7.5vh 10px;
   
}

.pass{
    color: white;
    
    position: fixed;
    margin: 18.5vh 10px;
    
}