*{
    box-sizing: border-box;
    font-family: sans-serif;   
}

html{
    scroll-behavior: smooth;
}

body{
    height: 100vh;
    background-color: rgb(255, 0, 0);
    width: 100%;
    font-family:'Courier New', Courier, monospace;
    text-align: center;
    color: white;
    font-size: 24px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin: 0;
    
    
    
}

.page-2{
    background-color: rgb(35, 5, 126);
    padding: 50px;
    flex: 1 1 100px;
    margin: 5px;
    height: 100%;
    
}



section{
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    
}

.layout{
    padding: 0px;
    background-color: rgb(255, 255, 255);
    height: 100vh;
    width: 100%;
    justify-content:center;
    animation: transitionIn 1s;
    
    
}

.product_container{
    margin: 15vh;
    border: 1px solid rgba(255, 255, 255, 0.573);
    display: flex;
    justify-content:space-between;
    height: 80vh;
    width: 100%;
}

.box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product{
    background-color: rgba(255, 255, 255, 0.125);
    width: 50vh;
    height:36vh;
    border-radius: 25px;
}

.product_1{
    background-size: cover;
}

.image{
    background-size: cover;
    background-position-y: 50%;
    background-repeat: no-repeat;
    background-color: black;
    margin: 3vh 2.5vh;
    padding: 12vh 22vh;
    border-radius: 15px;
    background-position-x:40%;
    height: 0px;
    transition: 1s;
    
    
}

.image_1{
    background-size:cover;
    background-position-y: 10%;
    background-position-x: 20%;
    
}

.image_3{
    background-image: url(../img/teronX.png);
    background-size:80vh;
    background-position-y: 50%;
    background-position-x: 50%;
   
}


.image.image_3:hover {
    
    background-size:cover;
    background-color: rgb(255, 255, 255);
    background-position-x: 30%;
    background-position-y: 50%;
    background-color: #03000086;
    
}

.image.image_1:hover{
    
    background-color: #03000086;
    background-size: 30vh;
}


.image:hover{
    background-size:50vh;
    background-position-y: 10%;
    background-position-x:60%;
    background-blend-mode: multiply;
    height: 85%;
    display: block;
    background-color: #03000086;
}

.image:hover .name a{
    display: block;
    font-size: 25px;
    margin: -1vh -25vh;
}

.name a{
    background-color: #03000000;
    color:rgb(255, 255, 255);
    align-items: center;
    width: 50vh;
    font-size: 0px;
    font-weight: 700;
    margin: -1vh -25vh;
    position: absolute; 
    display: block; 
    transition: 0.5s;
    
}

.layout.one{
    width: 100%;
    background-image: url(../img/logo.png);
    background-size: 20%;
    background-color: #ff000000;
    
}

.logo {
    background-image: url(../img/logo.png);
    background-size: 25vh;
    background-repeat: no-repeat;
    background-position-y: -28px;
    background-position-x: -25px;
    height: 50px;
    width: 20vh;
    
}

#home{
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgb(122, 0, 0) 0%, rgba(255, 0, 0, 0.745) 100%);
    
}


.dropbtn{
    background-color: #8e000000;
    border: none;
    color: white;
    padding: 15px 20px;
    cursor: pointer;
    font-size: 17px;
}

.dropdown{
    
    margin-left: 140vh;
    position:relative;
    display: inline-block;
}

.dropdown-content{
    display: none;
    position: absolute;
    right: 0;   
    margin: 1px 6.5vh;
    position: fixed;
    width: 20vh;
    border-radius: 0px;
}

.dropdown-content a{
    border-radius: 0px;
    border: none;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.43);
    display: block;
    font-size: 15px;
    
}

.dropdown-content a:hover{
    background-color: #e1e1e1;
    
}

.dropdown:hover .dropbtn{
    background-color: #ff000074;
    border-radius: 5px;
    
}

.dropdown:hover .dropdown-content{
    display: block;
    
    
}

a{
    font-size: 15px;
    color: rgb(0, 0, 0);
    background-color: white;
    text-decoration: none;
    padding: 10px 0px;
}

/* top Nav Bar*/
ul{
    list-style-type: none;
    margin: 0;
    padding: 15px;
    overflow: hidden;
    background-color: #8e0000b6;
    position:fixed;
    top: 0;
    width: 100%;
    height: 11vh;
    
}

li{
    float: left;
    margin-left: 60px;
}

li a{
    background-color: transparent;
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 15px 15px;
    font-size: 15px;
}

li a:hover{
    background-color: rgba(255, 255, 0, 0);
    border-bottom: 1px solid white;
    transition: 0.4s;
}

.profile a:hover{
    border: none;
    background-color: #8e0000b6;
    border-radius: 5px;
}

@keyframes transitionIn {
    from{
        opacity: 0;
        transform: trasnlateY(-10px);
    }
    to{
        opacity: 1;
        transform: trasnlateY(0);
    }
}

@media all and (max-width: 700px){
    body{
        background-color: rgb(31, 14, 84);
    }
    .main{
        flex-direction: column;
        
    }
    .profile .content{
        left: 0;
        right: 0;
        position: absolute;
        margin-left: 9vh;
        margin-right: auto;
        width: 100px;
        max-width: 80px;
    }
}

