body {
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
}

.menu {
    display: flex;
    align-items: center;
    border: 0px solid black;
    height: 10vh;
   
}

.box {
    color: black;
    border: 0px solid black;
    margin: 10px;
    padding: 0px;
    width: 30vh;
    height: 8vh;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
    transition: 0.4s;
    align-items: center;
    justify-content: center;
    background-color: rgb(205, 74, 74);
    color: white;
}

.box:hover {
    width: 50vh;
    background-color: rgb(236, 8, 8);
    color: white;
    
    
}

.container {
    display: flex;
    justify-content: space-evenly;
    border: 0px solid black;
    border-radius: 10px;
    margin-top: 2vh;
    width: 100%;
    height: 50vh;  
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(159,14,14,1) 0%, rgba(212,179,179,1) 100%);
}

.side-box {
    border: 1px solid red;
    background-image: url(/img/teronx_14.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   
}


.main-box {
    border: 1px solid red;
    background-image: url(/img/teronx_14.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.side2-box {
    border: 1px solid red;
    background-image: url(/img/teronx_14.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   
}

.card {
    border-radius: 20px ;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    width: 50vh;
    height: 50vh;
    margin: 10vh;
}

.card:hover {
    width: 50vh;
    box-shadow: 0 11px 10px 0 rgba(239, 0, 0, 0.24),0 5px 30px 0 rgba(2, 52, 255, 0.19);
}



.text {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    margin-top: 70px;
}

.sign-in {
   margin-left:100vh;
   width: 10vh;
   background-color: rgb(255, 255, 255);
   color: black;
}

.sign-in:hover {
    width: 15vh;
   
}